body{    
    font-family: 'Roboto', sans-serif, monospace;
}

.header{
    text-align: center;
    background-color:#FAF0E6; /*#FAFAD2, 	#F0FFF0,#F0FFFF, #FAEBD7, #F0F8FF*/
    margin: 10px;
    padding: 10px;
}

.main{
    margin: 0;
    padding: 0;
    background-color:#F0FFF0; /*#FAFAD2, 	#F0FFF0,#F0FFFF, #FAEBD7, #F0F8FF*/
    font-family: 'Roboto', sans-serif, monospace;
    width:100%;
}